# --- DATABASE ---
# Valores por defecto usados en el Justfile
DB_NAME=arriendo_db
DB_HOST=localhost
DB_TYPE=mysql
DB_PORT=3306
DB_USER=root
DB_PASS=secret

# --- SECURITY ---
ALLOWED_HOSTS=localhost,127.0.0.1

# --- DOCKER CONFIG ---
COMPOSE_PROJECT_NAME=arriendo_canchas
